/* 父容器设置滚动吸附 */
.scroll-container {
    height: 100vh;
    /* overflow-y: auto; */
    /* scroll-snap-type: y mandatory; */
    /* 强制垂直吸附 */
    scroll-behavior: smooth;
    /* 平滑滚动 */
}

/* 每个子元素占满视口并定义吸附点 */
.screen {
    height: 100vh;
    /* scroll-snap-align: start; */
    /* 吸附到顶部 */
}

.boxes-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  
  